[zabbix-{{ zabbix_version }}]
name=Zabbix {{zabbix_version}} packages
baseurl=http://repo.zabbix.com/zabbix/{{zabbix_version}}/rhel/7/x86_64/
gpgcheck=1
gpgkey=http://repo.zabbix.com/RPM-GPG-KEY-ZABBIX
enabled=1
